<h1>Listing user_discussions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Discussion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_discussions.each do |user_discussion| %>
  <tr>
    <td><%= user_discussion.user_id %></td>
    <td><%= user_discussion.discussion_id %></td>
    <td><%= link_to 'Show', user_discussion %></td>
    <td><%= link_to 'Edit', edit_user_discussion_path(user_discussion) %></td>
    <td><%= link_to 'Destroy', user_discussion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User discussion', new_user_discussion_path %>
