<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tab.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @tab.name %>
</p>


<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
