<div class="groups_outer_div" id="group_<%= grp.id %>">
  <div class="group_li">
    <!-- <a href="javascript:void(0);" id="toggle_group" class="toggle_group expand_btn">&nbsp;</a> -->
    <span class="group_name_container"><span id="group_name_<%= grp.id %>" class="group_name"><%= grp.name %></span>
      <% if !grp.is_default_group? %>
        <span class="group_action_span float_r">
          <a href="javascript:void(0);" class="action_link no_text_deco no_margin" onclick='edit_group(<%= grp.id  %>);'>Rename</a>
          <%= link_to "Delete", {:controller=>'users', :action=>'delete_group',:id=>grp.id},:confirm=>"Are you sure you want to delete?", :class=>"delete_group action_link no_text_deco no_margin", :remote => true %>
        </span>
      <% end %>
    </span>
  </div>
  <div class="group_users_container">
    <%  grp.group_users.each do |g_u| %>
      <%= render :partial=>"group_user", :locals=>{:g_u=>g_u} %>
    <% end %>
  </div>
</div>