<%= form_for(@follower_following) do |f| %>
  <% if @follower_following.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follower_following.errors.count, "error") %> prohibited this follower_following from being saved:</h2>

      <ul>
      <% @follower_following.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :follower_id %><br />
    <%= f.text_field :follower_id %>
  </div>
  <div class="field">
    <%= f.label :following_id %><br />
    <%= f.text_field :following_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
