<h1>Listing profile_pictures</h1>

<table>
  <tr>
    <th>User</th>
    <th>Filename</th>
    <th>Size</th>
    <th>Content type</th>
    <th>Thumbnail</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profile_pictures.each do |profile_picture| %>
  <tr>
    <td><%= profile_picture.user_id %></td>
    <td><%= profile_picture.filename %></td>
    <td><%= profile_picture.size %></td>
    <td><%= profile_picture.content_type %></td>
    <td><%= profile_picture.thumbnail %></td>
    <td><%= profile_picture.parent_id %></td>
    <td><%= link_to 'Show', profile_picture %></td>
    <td><%= link_to 'Edit', edit_profile_picture_path(profile_picture) %></td>
    <td><%= link_to 'Destroy', profile_picture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile picture', new_profile_picture_path %>
